{% extends "webapp/layout.html" %}

{% block content %}

{#<h1 class="pageHeader">{{ title }}</h1>#}
<div class="card">
    <h1 class="pageHeaders">{{ title }}</h1>
    <table id="AdminTable">
        <tr>
            <td>
                <i class="fa fa-lock"></i><br />
                <a href="{% url 'roleManagement' %}">Role and Permission Management</a>
            </td>
            <td>
                <i class="fa fa-key"></i>
                <br />
                <a href="apiKeys">Change API Keys </a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa fa-group"></i><br />
                <a href="{% url 'groupManagement' %}">Manage Groups</a>
            </td>
            <td>
                <i class="fa fa-book"></i><br />
                <a href="#">View Logs</a>
            </td>
        </tr>
    </table>
</div>


{% endblock %}
