{% extends "webapp/layout.html" %}

{% block content %}

<div class="card">
		<h1 class="pageHeaders"> Create an Event </h1>
		<div class="cardBody"> 
		<br>
		<br>
		<!-- <button class="dropDown"> <div class=dropDowncontent"> -->
		    <!-- <br> <div class="dropdown">
            <div id="currentRoute" value="-1">Choose a Route</div>
             <ul id="routeSelection" class="dropdown-content"> </ul>
        </div>
         <b style="margin-left:10px"> Or create a new one:</b><button class="NewTripButton" id= "CreateTrip"/> Create New Route</button>
         -->
         <form method="post" action="publish"> {% csrf_token %}
             <table>
                 {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
<!--    <br>
		<br>
		<label><b>Name: </b><input id="EventName" text="Name of Event"/> </label>
		<br>
		<br>
		<label><b>Date:  </b> <input id="EventDate" type="date" text="Date of Event"/> </label>
	
		<br>
		<br>
			<label><b>Event Type: </b><input id="EventType" text="Name of Event"/> <br></label>
		<br>
			<label><b>Location:</b><input id="EventLoc" text="Name of Event"/> <br></label>
		<br>
		<div class="multiLine">
		<b>Description:</b><textarea id="Event_Description"rows="4" cols="50"></textarea><br> 
		<br>
		</div>
		    <button id="CreateEvent_publish" class="submitButton" disabled> Save & Publish </button>
            <button id="CreateEvent_save" class="submitButton" type="submit" formaction="/webapp/submit"> Save </button> 
             <button id="CreateEvent_clear" class="cancelButton"> Clear </button> 
             <button id="CreateEvent_cancel" class="cancelButton"> Cancel </button>--> 
        </div>
	</div>
<script src="../../static/webapp/scripts/createEventPage/pageActions.js" type="text/javascript"></script>
{% endblock %}
