{% extends "webapp/layout.html" %}

{% block content %}

<div class="card">
    <h1 class="pageHeaders"> Create an Event </h1>
    <div class="cardBody">
        <br>
        <br>
        {% if not canAction %}
        <div class="alert alert-danger" style="text-align:center" role="alert">
            You don't have permission to create events. Please contact the admin if you believe you should have access.
        </div>
        {% endif %}
        {% if errorMessage %}
        <div class="alert alert-warning" style="text-align:center" role="alert">
            {{ errorMessage}}
        </div>
        {% endif %}
        <form method="post" action="publish">
            {% csrf_token %}
           
            {{ form.as_table }}
            {% if not canAction %}
            <input type="submit" value="Submit" disabled="disabled">
            {% else %}
            <input type="submit" value="Submit">
            {% endif %}
        </form>
    </div>
</div>
<!--<script src="../../static/webapp/scripts/createEventPage/pageActions.js" type="text/javascript"></script>-->
{% endblock %}
