{% extends "webapp/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12 col-s-12">
        <section id="socialLoginForm">
            <h2>Login in using Google</h2>
            <form method="post">
                {% csrf_token %}
                <button type="submit">Login</button>
            </form>
        </section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'webapp/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
