{% extends "webapp/layout.html" %}

{% block content %}

<div class="card">
    <h1 class="pageHeaders" id="pubHeader">Publish "{{request.POST.EventName}}"</h1>
		<div class="cardBody"> 
        <br>
        <form action="syndicate" method="post">
            <table>
                {% csrf_token %}
                {{ form.as_table}}
            </table>
            <input type="submit" value="Syndicate">
        </form>
	    <p>The primary key of the event you just created is: {{ eventID }}</p>
		</div>
	</div>
	</div>
	<script src="../../static/webapp/scripts/publishEventPage/pubEvent.js" type="text/javascript"></script>
{% endblock %}
