{% extends "webapp/layout.html" %}

{% block content %}

<div class="card">
    <h1 class="pageHeaders" id="pubHeader">Publish "{{event.EventName}}"</h1>
		<div class="cardBody"> 
        <br>
        <form action="syndicate" method="post">
            <table>
                {% csrf_token %}
                {{ form.as_table}}
            </table>
            <input type="submit" value="Syndicate">
        </form>
        <form action="pubStatus" method="post"> {% csrf_token %}
            <button name="EventID" type="submit" value="{{event.pk}}">Publish Later</button>
        </form>
        </div>
	</div>
	</div>
	<script src="../../static/webapp/scripts/publishEventPage/pubEvent.js" type="text/javascript"></script>
{% endblock %}
