{% extends "app/layout.html" %}

{% block content %}

<div class="card">
		<h1 class="pageHeaders"> Publishing Status</h1>
		<div class="cardBody"> 
		<h3> Publishing: <i>Overnight Trip to East Point</i></h3>
		<br>
		<br>

		<table border="1" text-align="center" id="pubStatusTable">
			<thead>
				<tr>
					<th> Selected? </th>
					<th> Media Name </th>
					<th> Published? </th>
					<th> Link </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<input type="checkbox" name="platform" value="Facebook" disabled="disabled">
					</td>
					<td>
						Facebook
					</td>
					<td>
						<input type="checkbox" name="platform" value="Facebook" disabled="disabled"> 
					</td>
					<td>
					<a href="#" style="color:grey"> View event</a>
						</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="platform" value="Twitter" checked="checked" disabled="disabled">
					</td>
					<td>
						Twitter
					</td>
					<td>
						<input type="checkbox" name="platform" value="Twitter" checked="checked" disabled="disabled"> 
					</td>
					<td>
					<a href="#"> View event</a>
						</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="platform" value="Google Plus" checked="checked" disabled="disabled">
					</td>
					<td>
						Google Plus
					</td>
					<td>
						<input type="checkbox" name="platform" value="Google Plus" checked="checked" disabled="disabled"/> 
					</td>
					<td>
					<a href="#"> View event</a>
						</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="platform" value="Mail Chimp" disabled="disabled" checked="checked">
					</td>
					<td>
						Mail Chimp
					</td>
					<td>
						<input type="checkbox" name="platform" value="Facebook" disabled="disabled"> 
					</td>
					<td>
					<a href="#" style="color:grey"> View event</a>
						</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="platform" value="Mail Chimp" disabled="disabled" checked="checked">
					</td>
					<td>
						EventBrite
					</td>
					<td>
						<input type="checkbox" name="platform" value="Facebook" disabled="disabled"> 
					</td>
					<td>
					<a href="#" style="color:grey"> View event</a>
						</td>
				</tr>
			</tbody>
		</table>
			<br />
			<br />
		<input id="NotifyMe" type="checkbox" /> Notify me when events are done publishing<br />
			<br />
			<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:50%">
    <span class="sr-only">50% Complete</span>
  </div>
</div>
		<button id="CreateEvent_cancel" class="cancelButton"> Cancel </button> 
		</div>
	</div>
{% endblock %}
