{% extends "webapp/layout.html" %}

{% block content %}

<div class="card">
		<h1 class="pageHeaders"> Publishing Status</h1>
		<div class="cardBody"> 
        {% if event %}
        <h3> Event: {{event.EventName}}</h3>
		<br>
        {% if publications %}
        <table id="publicationsTable">
            <tr>
                <th>Service</th>
                <th>Status</th>
                <th>Link</th>
            </tr>
            {% for publication in publications %}
            <tr>
                <td>{{publication.Service}}</td>
                <td>{{publication.Status}}</td>
                <td>{% if publication.url %}<a href="{{publication.url}}">View</a>{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h5>There is no publication data for this event.</h5>
        {% endif %}
        <br>
        <form action="publish" method="post"> {% csrf_token %}
            <input type="hidden" name="delayedSyndication" value="true"/>
            <button name="EventID" type="submit" value="{{event.pk}}">Make New Publications</button>
        </form>
        {% endif %}
        <br><br>
        <p>View a different event:</p>
        <form method="post" action="pubStatus">
{% csrf_token %}
        <select name="EventID">
        {% for event in events %}
        <option value="{{event.pk}}">{{event.EventName}}, {{event.EventStart}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="View Event">
        </form>
		</div>
	</div>
{% endblock %}
